@tailwind base;
@tailwind components;
@tailwind utilities;

.bmi {
  background-image: ("/git_Img/bg_Image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
